@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Suraysen's Net 6.0 Sample Work Demo</h1>
    <p>This solution is using local SQL sever with Code-First approach</a>.</p>
</div>
